# Игнорируем скомпилированные классы
*.class

# Игнорируем временные файлы
*.dat
*.txt
*.tmp

# Игнорируеи папку bin
bin/

# Игнорируем настройки IDE
.vscode/
.idea/

# Игнорируем системные файлы
.DS_Store
Thumbs.db
